.gallery {

    &__container {
        padding: 80px 0 0 0;
    }

    &__top {
        margin-bottom: 39px;
        padding: 0 16px;
    }

    &__swiper {
        margin-bottom: 50px;
        padding: 0 16px 0 16px;
    }

    &__swiper-wrapper {
        display: grid; 
        grid-template-columns: repeat(4, 1fr); 
        grid-template-rows: 1fr 1fr; 
        gap: 20px; 
        justify-items: stretch;
    }

    &__swiper-slide {
        width: unset !important;
        height: unset;
        

        &--big{
            grid-column: span 2;
        }
    }

    &__link{
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 6px;
    }

    &__button {
        display: block;
        margin: 0 auto;
        margin-bottom: 100px;
    }

    &__newsletter{
        position: relative;
        z-index: 2;
        margin: 0 16px -100px 16px;
    }

    @media (min-width: 768px){
        &__link:hover::after{
            content: url(../img/gallery/view-icon.svg);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    @media (max-width: 767px){
        &__container {
            padding: 50px 0 0 0;
        }
        &__swiper-wrapper {
            display: flex;
            gap: unset;
        }
        &__swiper-slide {
            width: 280px !important;
        }
    }

    @media (max-width:550px) {
        &__button {
            margin-bottom: 50px;
        }

        &__newsletter{
            position: relative;
            z-index: 2;
            margin: 0 16px 50px 16px;
        }

        
    }
}
